{% extends "base.html" %}

{% load thumbnail %}
{% load el_pagination_tags %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/imagehover.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
{% endblock extra_css %}
{% block content %}
<!--Page Title-->
<section class="page-title" style="background-image:url(/static/images/banner/2.jpg);">
    <div class="auto-container">
        <div class="sec-title">
            <h1><span class="normal-font">Biblioteca</span></h1>
            <div class="bread-crumb">
                <a href="/">Inicio</a> / <a href="#" class="current">Biblioteca</a>
            </div>
        </div>
    </div>
</section>
<section class="recent-projects">
    <div class="auto-container">
        <!--Filters Section-->
        <!-- <div class="filters-section">
            <div class="filter-form">
                <form method="post" action="index.html">
                    <div class="row clearfix">
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <div class="field-label">Buscar</div>
                            <input type="text" name="keyword" value="" placeholder="Buscar...">
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <div class="field-label">Coparte</div>
                            <select name="select" class>
                                <option value="value1" selected>Value 1</option>
                                <option value="value2">Value 2</option>
                                <option value="value3">Value 3</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <div class="field-label">País</div>
                            <select name="select" class>
                                <option value="value1" selected>Value 1</option>
                                <option value="value2">Value 2</option>
                                <option value="value3">Value 3</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <div class="field-label">Tema</div>
                            <select name="select" class>
                                <option value="value1" selected>Value 1</option>
                                <option value="value2">Value 2</option>
                                <option value="value3">Value 3</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2 col-sm-2 col-xs-12">
                            <div class="field-label">&nbsp;</div>
                            <button type="button" class="theme-btn btn-style-two">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
        <div class="mb-20">
            <h4><b>Temas: </b></h4>
            <div role="tabpanel">
                <ul class="list-filter" role="tablist">
                    <li role="presentation" class="active">
                        <a class="theme-btn btn-style-three btn-sm mt-10" href="#" aria-controls="home" role="tab" data-toggle="tab" data-filter="all">Todos</a>
                    </li>
                    {% for obj in tematica %}
                    <li role="presentation">
                        <a class="theme-btn btn-style-three btn-sm mt-10" href="#" aria-controls="tab" role="tab" data-toggle="tab" data-filter="{{obj.slug}}">{{obj}}</a>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>

        <div class="row clearfix bliblioteca-list-section">
        {% paginate 8 biblioteca_list %}
        {% for obj in biblioteca_list %}
            <div class="column default-featured-column style-two col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="content-bliblioteca filter all {{obj.all_tematicas|lower}}">
                    <a data-fancybox data-animation-duration="700" data-src="#detalle-publicacion-{{obj.id}}" href="javascript:;">
                        <figure class="image-box imghvr-zoom-out">
                            {% if obj.imagen_portada %}
                                    {% thumbnail obj.imagen_portada "350x453" crop="center" as im %}
                                        <img src="{{ im.url }}"  alt="{{obj.titulo}}" width="100%">
                                    {% endthumbnail %}
                                {% else %}
                                    <img src="https://via.placeholder.com/350x453" alt="{{obj.titulo}}" width="100%">
                                {% endif %}
                            <figcaption>
                                <p class="text-bliblioteca">
                                    {{obj.descripcion|safe}}
                                </p>
                            </figcaption>
                        </figure>
                    </a>
                    <div class="content-box">
                        <h3><a href="#">{{obj.titulo}}</a></h3>
                        <a class="theme-btn btn-style-two btn-sm mt-10" target="_blank"  href="/uploads/{{obj.adjunto}}">Descargar</a>
                    </div>
                </div>
            </div>

            <div style="display: none;" id="detalle-publicacion-{{obj.id}}" class="animated-modal">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <figure class="image-box">
                                {% if obj.imagen_portada %}
                                    {% thumbnail obj.imagen_portada "350x453" crop="center" as im %}
                                        <img src="{{ im.url }}"  alt="{{obj.titulo}}" width="100%">
                                    {% endthumbnail %}
                                {% else %}
                                    <img src="https://via.placeholder.com/350x453" alt="{{obj.titulo}}" width="100%">
                                {% endif %}
                            </figure>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                            <div class="description-publicacion">
                                <h3>{{obj.titulo}}</h3>
                                <hr>
                                <div class="text"><strong class="text-theme-colored"><i class="fa fa-suitcase"></i> Coparte: </strong>{{obj.coparte}}</div>
                                <div class="text mt-15"><strong class="text-theme-colored"><i class="fa fa-user"></i> Autor: </strong>{{obj.autor}}</div>
                                <div class="text mt-15"><strong class="text-theme-colored"><i class="fa fa-user"></i> Descripción: </strong>
                                    <p class="mt-10">
                                        {{obj.descripcion|safe}}
                                    </p>
                                </div>
                                <div class="text mt-15"><strong class="text-theme-colored"> Temas: </strong>
                                {% for temas in obj.tematicas.all %}
                                    {{temas}}{% if forloop.last %}{%else%},{%endif%}
                                {% endfor %}
                                </div>
                                <a class="theme-btn btn-style-two btn-sm mt-20" target="_blank"  href="/uploads/{{obj.adjunto}}">Descargar archivo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- Styled Pagination -->
        <div class="styled-pagination mb-20">
            <ul class="text-center">
                {% show_pages %}
            </ul>
        </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="/static/js/filter/filter.js"></script>
{% endblock extra_js %}
